* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 50px;
    width: 100vw;
    background-color: rgb(95, 56, 131);
    color: white;
}

.header__content {
    max-width: 1170px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__toggle_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 0.2rem 1.5rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.76);
    background-color: rgba(255, 255, 255, 0.5);
}

.active{
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(99, 141, 31);
}

.header__toggle_btn:hover {
    border: none;
    color: white;
    background-color:rgba(255, 255, 255, 0.651);
    transform: scale(1.1);
}

.active:hover {
    background-color: rgba(99, 141, 31, 0.514);
}

.main {
    max-width: 1170px;
    margin: auto;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px 0 0 0;
}

.main__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
}

.card__title {
    padding: 0.5rem 0;
}

.card__icon>img {
    width: 100px;
    border-radius: 50%;
    padding: 1rem 0;
}

.main__like {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main__like>img:hover {
    transform: scale(1.1);
}

.main__like>img:active {
    transform: scale(1.3);
}

.main__like>img {
    width: 25px;
}

.main__del_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

.main__del_btn>img {
    width: 20px;
}

.main__del_btn>img:hover {
    transform: scale(1.1);
}

.main__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
}